@model DigitalLibrary.Core.Models.Book

@{
    ViewData["Title"] = "Деталі книги";
}

<h2>Деталі</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Назва</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Автор</dt>
        <dd class="col-sm-10">@Model.Author?.FullName</dd>

        <dt class="col-sm-2">Рік</dt>
        <dd class="col-sm-10">@Model.PublishDate</dd>

        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редагувати</a>
<a asp-action="Index" class="btn btn-secondary">Назад</a>
